{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block sidebar %}

<script src="{% static '/micro/javascripts/tagimage.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static '/micro/javascripts/tmp.js' %}"></script>
<img src="{{ user.profile.profile_picture.url }}" alt="Generic User"/> <br>
{{ user.username }}

{% endblock %}

{% block content %}
<div>
    <div class="half-column">
        {% for face in faces_in_photo %}
        <div id="{{ face.id }}" class="tagbox" style="margin-left:{% widthratio face.x scaleFactor 1 %}px;margin-top:{% widthratio face.y scaleFactor 1 %}px;width:{% widthratio face.width scaleFactor 1 %}px;height:{% widthratio face.height scaleFactor 1 %}px"></div>
        {% endfor %}
        <img id="img-page-pic" src="{{ image_url }}" {% if has_faces %} class="has_faces" {% endif %}/>
    </div>
    <div id="tagged-list" class="half-column">
        <p>Friends in this photo:</p>
        <ul id='taglist'>
            {% for tag in tagged_users.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if my_photo %}
<div id='tagpage'></div>
{% endif %}

{% endblock %}
