{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block sidebar %}
<script src="{% static '/micro/javascripts/tagimage.js' %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<img src="{{ curr_user.profile.profile_picture.url }}" alt="Generic User"/> <br>
{{ curr_user.username }}

{% endblock %}

{% block content %}
<div>
    <div class="half-column">
        <img id="img-page-pic" src="{{ image_url }}" {% if has_faces %} class="has_faces" {% endif %}/>
    </div>
    <div id="tagged-list" class="half-column">
        <p>Friends in this photo:</p>
        <ul>
            {{tagged_users.tags}}
            {% for tag in tagged_users.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if my_photo %}
<div id='tagpage'></div>
{% endif %}

{% endblock %}
